*, *::after, *::before {
    box-sizing: border-box;
    margin: 0; padding: 0;}

* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

:root {
    --section-back-color: #100c08;
 
    }

body {
    background-color: #696969;
}

.main-container {
    position: relative;
    width: 85vw; 
    margin: 1rem auto; display: flex;
    flex-direction: column; justify-content: space-between;
    align-items: center; text-align: center;
}

.header-container {
    height: 5rem; position: relative;
    width: 80%; padding-top: 0.4rem;
    text-align: center;
    border-bottom: solid 1px #3a3a3c;
    background-color: var(--section-back-color);
}

.header-container h1 {
    text-align: center;
    color: #fffafa; font-weight: 700;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
    1px 16px 6px rgba(16,16,16,0.4),
    1px 19px 10px rgba(16,16,16,0.2),
    1px 22px 30px rgba(16,16,16,0.2),
    1px 25px 50px rgba(16,16,16,0.4);
}

.tile-container {
    width: 85%; margin: 1rem auto;
    text-align: center; align-items: center;
    background-color: var(--section-back-color);
}

/* main game buttons */
main .game-buttons {
    margin: 0 auto; padding-bottom: 0.4rem;
    text-align: center;
 }
 
 .game-buttons .game-button {
   margin: 0.7rem 1.7rem; 
   border-radius: 10px; padding: 0.4rem 2.5rem;
   text-decoration: none; font-size: 1.3rem;
   color: Yellow; font-family: 'Montserrat', sans-serif; letter-spacing: 2px;
   background-color: MidnightBlue;
   box-shadow: 0 0 20px rgba(0, 0, 0, .1);
   cursor: pointer;
   transition: 0.5s;
 }
 
 .game-buttons .game-button:hover {
   background-color: DarkRed;  
 }
 
 .game-buttons .game-button:active {
     box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                 inset 2px 2px 3px rgba(0, 0, 0, .6);
   }

/* area with user keys */
.key-container {
    width: 85%;
    display: flex; flex-wrap: wrap;
    background-color: var(--section-back-color);
}

.key-container button {
    width: 43px; height: 47px;
    margin: 5px;
    border-radius: 4px; border: none;
    background-color: #818384;
    font-size: 1.3rem;
}

.key-container button:nth-child(17),
.key-container button:nth-child(33) {
    width: 68px; margin-left: 30px;
}

.tile-container div {
    display: flex; 
    justify-content: center; align-items: center;
}

.tile-container .tile {
    width: 62px; height: 62px;
    margin: 2px;
    border: 3px solid#3a3a3c;
    display: flex; justify-content: center;
    align-items: center;
}

.message-container {
    height: 40px;
}

.message-container p {
    padding: 15px; border-radius: 10px;
    background-color: #74c8f1;
    font-size: 1.5rem;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}



.grey-overlay {
    background-color: #3a3a3c !important;
    border:none !important;
}
.yellow-overlay {
    background-color: #b59f3a !important;
    border:none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border:none !important;
}


/* FOOTER */
body footer {
    margin: 1rem auto;
    padding: 1rem 0; width: 85vw;
    background-color: var(--section-back-color);   
    }
    
    footer .game-rules {
      padding-left: 1rem;
      font-style: italic; color: #fffafa;
    }
    
    .game-rules ul {
      padding-left: 2rem;
    }