@import '../../variables';

.main-page {
  padding: 20px;
  background-color: $main-background;
  box-shadow: $box-shadow;
  margin-bottom: 20px;

  .header-content { /* Fix the class name here */
    text-align: center;
    padding: 20px 80px;
    @media (max-width: 768px) {
      padding: 5px 10px;
    }
  }
  .card-wrapper {
    height: 100%;
  }
  .blur {
    filter: blur(3px); // apply the blur effect
    pointer-events: none; // prohibit interaction with elements that have blur class
  }
  .product-card {
    margin-bottom: 20px; /* Adjust the value to add the desired spacing */   
    @media (max-width: 768px) {
      .product-button {
        margin-top: 10px;
        width: 50%;
      }
    } 
  }

  .product-card-highlight {
    border: 3px solid $yellow-border;
    box-shadow: 0 0 10px $shadow-effect;
  }

  .product-image {
    width: 100%; /* Adjust value to resize image as desired */
    height: auto; /* Maintain aspect ratio */
  }
}

.modal-detail {
  .product-image {
    width: 100%; /* Adjust value to resize image as desired */
    height: auto; /* Maintain aspect ratio */
  }
}