body {
  padding-left: 11em;                         
  font-family: Georgia, "Times New Roman", Times, serif; color: 3f225c;                               
  background-color: #c0c0c0;}  

/* HEADER */
.header {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  text-align: center;}


h1, h2, h3 {
  font-family: tahoma, SunSans-Regular, sans-serif;}

ul {
  margin: 0;
  padding: 0;}

nav {
  list-style-type: none;
  padding: 0;
  margin: 0;  
  background-color: #c7c1c1;
  border-color: #700733;
  
  position: fixed;      
  top: 10em; left: 1em;                         
  width: 9em; }

ul li {
  list-style-type: none; 
  color: #3b0563;
  background-color: #c7c1c1;
  border-color: #700733;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }

ul a {
  text-decoration: none }

form {
  margin: 0 auto;
  width: 950px;
  padding: 1em;
  border: 2px solid #CCC;
  border-radius: 2em;}

label {
  display: inline-block;
  width: 150px;
  text-align: right;}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;}

input:focus,
textarea:focus {
  border-color: #000;}

textarea {
  vertical-align: top;
  height: 5em;}

.form_radio {
  margin-bottom: 10px;}

.button {
  padding-left: 70px; /* same size as the label elements */}

button {
  margin-left: .5em;}

footer {font-size: 10px; font-style: italic;}
