body {
  padding-left: 11em;                         
  color: Green; font-family: Verdana, Georgia, Helvetica, sans-serif;
  background-color: PaleGoldenrod;}    

/* HEADER */
.header {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  text-align: center;}


h1, h2, h3 {
  font-family: tahoma, SunSans-Regular, sans-serif;}

ul {
  margin: 0; padding: 0;}

/* NAVIGATION */
nav {
  position: fixed; top: 150px; left: 5px;
  width: 165px; margin: 0; 
  box-sizing: border-box; padding: 0;}

nav > ul {
  list-style-type: none;
  height: 400px;
  margin: 0 auto; padding: 0;}

nav li {
  height: 60px; margin: 5px 0;
  border-radius: 15px; border-right: 8px solid orange;
  padding: 5px;
  text-decoration: none; text-align: center;
  background-color: LightGray;
  transition-duration: 0.2s;}

nav a {  
  display: inline-block;
  width: 100%; margin-top: 10px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  text-decoration: none; cursor: pointer;}

nav a:hover{
  color: black; text-decoration: none;
  background-color: Ivory;}

nav li:nth-child(odd){
  text-decoration: none;
  transform: perspective(300px) rotateY(30deg);
  box-shadow: -2px 2px 7px gray;}

nav li:nth-child(even){
  text-decoration: none;
  transform: perspective(300px) rotateY(-30deg);
  box-shadow: 2px 2px 7px gray;}

nav li:hover{
  text-decoration: none;
  transform: rotateY(0);
  background: Ivory;
  color: black;
  box-shadow: 0px 0px 0px;}

form {
  margin: 0 auto; width: 950px; padding: 1em;
  border: 2px solid #CCC; border-radius: 2em;}

label {
  display: inline-block;
  width: 150px;
  text-align: right;}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;}

input:focus,
textarea:focus {
  border-color: #000;}

textarea {
  vertical-align: top;
  height: 5em;}

.form_radio {
  margin-bottom: 10px;}

.button {
  padding-left: 70px; /* same size as the label elements */}

button {
  margin-left: .5em;}

/* FOOTER */
footer {
  margin-top: 20px; padding: 10px 40px;
  background-color: LightGray;
  font-size: 11px; font-style: italic;}