/* General Website Style rules */
body {
  color: Green; font-family: Verdana, Georgia, Helvetica, sans-serif;
  background-color: PaleGoldenrod;}                 

h1, h2, h3 {
  font-family: Helvetica, Verdana , Georgia, sans-serif;}

h3 {
  color: RebeccaPurple;}


/* HEADER */
header {
  font-family: Helvetica, Verdana , Georgia, sans-serif;  
  font-weight: 800; text-align: center;}

#miniLogo2 {
  position: fixed;
  top: 5px; left: 5px;
  border-radius: 25px;}

header button {
  margin: 5px 10px;
  border: none; border-radius: 25px;
  padding: 10px 20px;
  font-size: 20px; font-weight: 500; 
  background-color: transparent;
  cursor: pointer; user-select: none;}

.backgr {
  box-shadow: 5px 5px 10px #c9c9c9, inset -5px -5px 8px -4px #c9c9c9,
      -5px -5px 10px #fdfdfd, inset 5px 5px 8px -4px #fdfdfd;}

.backgr:active {
  box-shadow:
    5px 5px 10px #c9c9c9, inset -5px -5px 8px -4px #c9c9c9,
    inset -6px -6px 8px 0 #fdfdfd, -5px -5px 10px #fdfdfd,
    inset 5px 5px 8px -4px #fdfdfd, inset 6px 6px 8px 0 #c9c9c9;}


/* NAVIGATION */
nav {
  position: fixed; top: 150px; left: 5px;
  width: 165px; margin: 0; 
  box-sizing: border-box; padding: 0;}

nav > ul {
  list-style-type: none;
  height: 400px; margin: 0 auto; padding: 0;}

nav li {
  height: 60px; margin: 5px 0;
  border-radius: 15px; border-right: 8px solid orange;
  padding: 5px;
  text-decoration: none; text-align: center;
  background-color: LightGray;
  transition-duration: 0.2s;}

nav a {  
  display: inline-block;
  width: 100%; margin-top: 10px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center; text-decoration: none;
  cursor: pointer;}

nav a:hover{
  color: black; text-decoration: none;
  background-color: Ivory;}

nav li:nth-child(odd){
  text-decoration: none;
  transform: perspective(300px) rotateY(30deg);
  box-shadow: -2px 2px 7px gray;}

nav li:nth-child(even){
  text-decoration: none;
  transform: perspective(300px) rotateY(-30deg);
  box-shadow: 2px 2px 7px gray;}

nav li:hover{
  text-decoration: none;
  transform: rotateY(0);
  background: Ivory;
  color: black;
  box-shadow: 0px 0px 0px;}


/* ARTICLES */
main {
  padding-left: 190px;}

article {

  margin: 10px 10px 3px 3px;
  border: dashed darkmagenta;
  background-color: Beige;}




/* FOOTER */
footer {
  margin-top: 20px; padding: 10px 40px;
  background-color: LightGray;
  font-size: 11px; font-style: italic;}