

#miniLogo {
  width: 12rem;
  top: 0.5rem; left: 0;
  border-radius: 25px;
}
  

.osa-text {
    transform: translate(50%,-50%);
    color: Whitesmoke; font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
    1px 16px 6px rgba(16,16,16,0.4),
    1px 19px 10px rgba(16,16,16,0.2),
    1px 22px 30px rgba(16,16,16,0.2),
    1px 25px 50px rgba(16,16,16,0.4);
}