@import '../../variables';

.header {
  padding: 10px;
  background-color: $parts-background;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
}
.logo {
  width: 120px; height: 54px;
  border-radius: 10px;
}

.brand-name {
  color: $nav-text;
  font-weight: 800;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
  font-size: 20px;
  margin-left: 16px;
}

.nav-link {
  transition: background-color 0.3s ease-in-out;
}
.nav-link:hover {
  background-color: #f8f9fa;
}
.active {
  color: darkorange !important;
  font-weight: bold;
}



.footer {
  padding: 10px;
  background-color: $parts-background;
  box-shadow: $box-shadow;
}

