// Import Bootstrap styles
@import '~bootstrap/scss/bootstrap';
@import './variables';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;  padding: 0;
    box-sizing: border-box;
}
ul, li, dl {
    list-style-type: none;
    margin: 0; padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
p {
    margin: 0; padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

// Custom styles for App component
.app { 
  background-color: site-background;
  box-shadow: $box-shadow;
  margin: 10px;
  color: $main-text;

  // Responsive styles
  @media (min-width: 768px) {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: $box-shadow;
  }

  @media (min-width: 992px) {
    max-width: 1200px;
  }

}

// Other styles for your application...

